body {
    /* ESTILOS DE LETRA */
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

header {
    background-color: #e5e5e5;
    text-align: center;
}

h1,
h2 {
    background-color: #c4c4c4;
}

main {
    width: 1041px;
    height: 460px;
    text-align: start;
    display: inline-block;
}

.lista {
    list-style: none;
}